@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Wonka";
    src: local("Wonka"), url(/WillyWonka.ttf) format("truetype");
}

.wonka-font {
    font-family: Wonka;
}
